.navbar {
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.navbar-container {
  position: fixed ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 2vh;
  z-index: 999;
}

.navbar-logo {
  flex-grow: 1;
  cursor: default;
}

.navbar-logo-link {
  color: rgba(255, 234, 219, 1);
  letter-spacing: 0.5px;
  margin-left: 4rem;
  width: max-content;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 3rem;
}

.nav-item {
  margin-right: 0;
}

.nav-links {
  color: rgba(255, 234, 219, 1);
  letter-spacing: 0.5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  height: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
}

.nav-links:hover {
  color: rgba(255, 154, 118, 1);
  transition: all 0.2s ease-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
  color: rgba(255, 234, 219, 1);
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 80px;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(99, 115, 115, 1);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    display: table;
    font-size: xx-large;
  }

  .nav-links:hover {
    background-color: rgba(255, 234, 219, 1);
    border: none
  }

  .navbar-logo {
    position: absolute;
    left: 0;
    margin-left: -1rem;
    margin-top: 1rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 2.5rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
}