* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 20px;
  font-family: Heebo;
  font-weight: 400;
  font-size: large;
  color: rgba(255, 234, 219, 0.685);
}

div {
  color: rgba(255, 234, 219, 1);
}

body {
  background-color: rgba(99, 115, 115, 1);
}

.pages {
  color: rgba(103, 155, 155, 1);
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  }

::-webkit-scrollbar {
width: 0px;
}
